<footer class="site-footer clearfix">
  <section class="copyright">
    <a href="">{{.Site.Title}}</a>
    <a href="https://gitlab.com/dustyweb/activitypub.rocks">Site contents</a>
    dual licensed under
    <a href="https://creativecommons.org/licenses/by-sa/4.0/"
      >Creative Commons Attribution-Sharealike 4.0 International</a
    >
    and
    <a href="http://www.gnu.org/licenses/gpl-3.0.en.html"
      >the GNU GPL, version 3 or any later version</a
    >. ActivityPub logo by mray, released into public domain under
    <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0</a>.
  </section>
  {{if ne .Site.Params.hideHUGOSupport true}}
  <section class="poweredby">
    Powered by <a class="icon-hugo" href="https://gohugo.io">HUGO</a> |
    <a href="https://gitlab.com/rigelk/activitypub.rocks">site source code</a>
  </section>
  {{ end }}
</footer>

<script>
  if ("serviceWorker" in navigator) {
    window.addEventListener("load", () => {
      navigator.serviceWorker.register("/sw.js");
    });
  }
</script>
