<head>
  <meta charset="utf-8" />

  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  <meta property="og:title" content='{{ if ne .RelPermalink "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}' />
  <meta property="twitter:title" content='{{ if ne .RelPermalink "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}' />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  {{ if .IsPage }}
  <meta property="og:type" content="article" />
  <meta property="og:article:published_time" content='{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}' />
  {{ range .Params.tags }}
  <meta property="og:article:tag" content="{{ . }}" />
  {{ end }}
  {{ else }}
  <meta property="og:type" content="website" />
  {{ end }}
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  <meta property="twitter:description" content="{{ .Site.Params.description }}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{.Site.BaseURL}}images/favicon.ico">
  <link rel="apple-touch-icon" href="{{.Site.BaseURL}}images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{.Site.BaseURL}}images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{.Site.BaseURL}}images/favicon-16x16.png">
  <link rel="manifest" href="{{.Site.BaseURL}}images/site.webmanifest">
  <link rel="mask-icon" href="{{.Site.BaseURL}}images/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  {{ $normalize := resources.Get "css/normalize.css" }}
  {{ $tachyons := resources.Get "css/tachyons.min.css" }}
  {{ $main := resources.Get "css/main.css" }}
  {{ $css := slice $tachyons $main $normalize | resources.Concat "css/bundle.css" | postCSS | minify | fingerprint "sha512" }}

  <link rel="stylesheet" type="text/css" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">

  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{hugo.Generator}}

  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "SoftwareApplication",
    "name" : "ActivityPub",
    "image": {{ "images/ActivityPub-tutorial-image.png" | absURL }},
    "url" : "https://www.w3.org/TR/activitypub/",
    "publisher" : {
      "@type" : "Organization",
      "name" : "W3C Social Web Working Group"
    },
    "applicationCategory" : "Decentralized Social Networking Protocol"
  }
  </script>
  <link rel="canonical" href="{{ .Permalink }}" />
</head>
