{{ $baseurl := default "/" .Site.BaseURL }}

<nav class="flex justify-between w-100 border-box pa3 ph5-ns bg-white">
  <a class="mid-gray link w-50 flex items-center" style="height:0;outline:0;" href="{{ $baseurl }}" title="Home">
    <!-- <img src="images/ActivityPub-logo.svg" class="dib h3 br-100" alt="Site Name"> -->
    <span class="pl1" style="display: none;">
      <span class="fw6">A</span>ctivity<span class="fw6">P</span>ub
    </span>
    <img style="height:5rem;transform:translateY(50%);"
         src='data:image/svg+xml;base64,{{ readFile "themes/activitypub/static/images/ActivityPub-logo.svg" | base64Encode }}' alt="{{ .Site.Title }}"/>
  </a>
  <nav role="navigation" class="v-mid w-75 tr">
    <!-- front menu -->
    <ul class="flex justify-end mb0">
      <li class="mh3 dropdown" role="menuitem" aria-haspopup="true">
        <a class="link dn dib-l dropbtn" href="{{ $baseurl }}#users" title="For Users" aria-haspopup="true">For Users</a>
        <div class="dropdown-content" aria-label="submenu">
          <a href="#">What ActivityPub can change for you</a>
          <a href="#">Where to start using ActivityPub</a>
          <a href="https://tilde.town/~petegozz/Fediverse_Glossary/" target="_blank" rel="noopener noreferrer">Glossary</a>
        </div>
      </li>
      <li class="mh3 dropdown" role="menuitem" aria-haspopup="true">
        <a class="link dn dib-l dropbtn" href="{{ $baseurl }}#implementers" title="For Implementers" aria-haspopup="true">For Implementers</a>
        <div class="dropdown-content" aria-label="submenu">
          <a href="{{ $baseurl }}#implementers">Introduction</a>
          <a href="#">Guide: how to read the specification</a>
          <a href="#">Guide: related standards</a>
          <a href="#">Guide: compatibility</a>
        </div>
      </li>

      <!-- divider -->
      {{ if .Site.Menus.main }}
        <li class="outline light-gray mh2 dn dib-l" role="menuitem"></li>
      {{ end }}

      <!-- menu (edit config.toml at the root of the project to define it) -->
      {{ range .Site.Menus.main }}
        {{ $text := print .Name | safeHTML }}
        <li class="mh3"><a class="link dib" href="{{ .URL }}" target="_blank" rel="noopener noreferrer" title="{{ $text }}">{{ $text }}</a></li>
      {{ end }}
    </ul>
  </nav>
</nav>