{{ define "main" }}
  <div id="about" class="content mw9 pa3 pa5-ns center"> <!-- first bloc: description -->
    <p>
      Enter ActivityPub! ActivityPub is a decentralized social networking protocol based on the 
      ActivityStreams 2.0 data format. ActivityPub is an official W3C recommended standard published 
      by the W3C Social Web Working Group. It provides a client to server API for creating, updating 
      and deleting content, as well as a federated server to server API for delivering notifications 
      and subscribing to content.
    </p>
    <img class="w-80 mv5"
         style="margin-left:10%;margin-right:10%"
         src='data:image/png;base64,{{ readFile "themes/activitypub/static/images/ActivityPub-tutorial-image.png" | base64Encode }}'
         alt="A very basic representation of the actor model that ActivityPub uses, representing the user, server, and the rest of the world as part of a two-tiered communication: the server to server part of the protocol, and the client to server part of the protocol."
      >
    <p>
      Sounds exciting? Dive in!
    </p>
    <div style="text-align: center; display: none;">
      <a class="ba black-70 no-underline grow br2 b inline-flex items-center mr3 mb3 pv2 ph3" href="https://www.w3.org/TR/activitypub/" title="Latest published version of the specification">
        <div class="dib w2 pt2">
          <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M14.59 2.59c-.38-.38-.89-.59-1.42-.59H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8.83c0-.53-.21-1.04-.59-1.41l-4.82-4.83zM15 18H9c-.55 0-1-.45-1-1s.45-1 1-1h6c.55 0 1 .45 1 1s-.45 1-1 1zm0-4H9c-.55 0-1-.45-1-1s.45-1 1-1h6c.55 0 1 .45 1 1s-.45 1-1 1zm-2-6V3.5L18.5 9H14c-.55 0-1-.45-1-1z"/></svg>
        </div>
        <span class="pl3">
          Latest published version
        </span>
      </a>
      <a class="ba black-70 no-underline grow br2 b inline-flex items-center mr3 mb3 pv2 ph3" href="https://w3c.github.io/activitypub/" title="Latest editor's draft of the specification">
        <div class="dib w2 pt2">
          <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M14.59 2.59c-.38-.38-.89-.59-1.42-.59H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8.83c0-.53-.21-1.04-.59-1.41l-4.82-4.83zM15 18H9c-.55 0-1-.45-1-1s.45-1 1-1h6c.55 0 1 .45 1 1s-.45 1-1 1zm0-4H9c-.55 0-1-.45-1-1s.45-1 1-1h6c.55 0 1 .45 1 1s-.45 1-1 1zm-2-6V3.5L18.5 9H14c-.55 0-1-.45-1-1z"/></svg>
        </div>
        <span class="pl3">
          Latest editor's draft
        </span>
      </a>
    </div>

    <!-- first table of links, for each user category -->
      <div class="fl w-40 tr pa3 fw6">
        Implementer
      </div>
      <div class="fl w-60 pa2">
        <a class="ba black-70 no-underline no-shadow grow br2 b inline-flex items-center mr3 mb3 pv2 ph3" href="https://www.w3.org/TR/activitypub/" title="Latest published version of the specification">
          <div class="dib w2 pt2">
            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M14.59 2.59c-.38-.38-.89-.59-1.42-.59H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8.83c0-.53-.21-1.04-.59-1.41l-4.82-4.83zM15 18H9c-.55 0-1-.45-1-1s.45-1 1-1h6c.55 0 1 .45 1 1s-.45 1-1 1zm0-4H9c-.55 0-1-.45-1-1s.45-1 1-1h6c.55 0 1 .45 1 1s-.45 1-1 1zm-2-6V3.5L18.5 9H14c-.55 0-1-.45-1-1z"/></svg>
          </div>
          <span class="pl3">
            Specification
          </span>
        </a>
        <a class="ba black-70 no-underline no-shadow grow br2 b inline-flex items-center mr3 mb3 pv2 ph3" href="#" title="Implementation guides">
          <div class="dib w2 pt2">
            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M14.59 2.59c-.38-.38-.89-.59-1.42-.59H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8.83c0-.53-.21-1.04-.59-1.41l-4.82-4.83zM15 18H9c-.55 0-1-.45-1-1s.45-1 1-1h6c.55 0 1 .45 1 1s-.45 1-1 1zm0-4H9c-.55 0-1-.45-1-1s.45-1 1-1h6c.55 0 1 .45 1 1s-.45 1-1 1zm-2-6V3.5L18.5 9H14c-.55 0-1-.45-1-1z"/></svg>
          </div>
          <span class="pl3">
            Guides
          </span>
        </a>
      </div>
      <div class="fl w-40 tr pa3 fw6">
        User
      </div>
      <div class="fl w-60 pa2">
        <a class="ba black-70 no-underline no-shadow grow br2 b inline-flex items-center mr3 mb3 pv2 ph3" href="#" title="Where to start">
          <div class="dib w2 pt2">
            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M14.59 2.59c-.38-.38-.89-.59-1.42-.59H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8.83c0-.53-.21-1.04-.59-1.41l-4.82-4.83zM15 18H9c-.55 0-1-.45-1-1s.45-1 1-1h6c.55 0 1 .45 1 1s-.45 1-1 1zm0-4H9c-.55 0-1-.45-1-1s.45-1 1-1h6c.55 0 1 .45 1 1s-.45 1-1 1zm-2-6V3.5L18.5 9H14c-.55 0-1-.45-1-1z"/></svg>
          </div>
          <span class="pl3">
            Where to start using ActivityPub
          </span>
        </a>
      </div>

    <div id="landing-actions-height"></div> <!-- since the table has no height, we fill the space to prevent colliding with the next section -->
    <!-- table end -->
  </div>

  <div id="implementers" class="bg-light-gray mt5"> <!-- second bloc: impelementers' corner -->
    <div class="mw9 center">
      <h4 style="text-align: center;" class="pt5">~= Hey, Implementers! =~</h4>
      <div class="pa3 pa5-ns">
        <p>
          We're so stoked to have you implementing ActivityPub! We have <a href="https://socialhub.activitypub.rocks/c/activitypub">
          guides</a> covering the most common implementation cases, and helping you get an overview of 
          the technologies ActivityPub uses in production.
          To ensure you are effectively compatbile with most existing implementations, we invite you to 
          join us on our <code>#social</code> IRC channel on <code>irc.w3.org</code>, and our forum at 
          <a href="https://socialhub.activitypub.rocks/">socialhub.activitypub.rocks</a>.
        </p>

        <h5>Make yourself known to the community</h5>

        <p>
          You implementation is live? We provide <a href="https://socialhub.activitypub.rocks/c/software">a home for implementations</a> to present themselves. Consider
          adding yours, or reaching out to others. You can also report detailed information about the parts of the specification you support in the
          <a href="./implementation-report">implementation reports</a>.
        </p>

        <h5>Improve the standard</h5>

        <p>
          Improve the living standard that is ActivityPub, and join <a href="https://socialhub.activitypub.rocks/c/meeting">our meetings</a> 
          (<a href="https://www.w3.org/wiki/SocialCG#Meetings">minutes here</a>) along with other users of the 
          protocol, as well as discuss suggestions on the <a href="https://github.com/w3c/activitypub/issues?q=is%3Aissue+sort%3Aupdated-desc">issue tracker</a> or the dedicated 
          <a href="https://socialhub.activitypub.rocks/c/activitypub">forum section</a>.
        </p>
      </div>
    </div>
  </div>

  <div id="news" class="mt5"> <!-- third bloc: list of articles -->
    <h4 style="text-align: center;" class="pt5">-=* News and more *=-</h4>
    <div class="pa3 pa5-ns center newsgrid" style="padding-bottom: 0 !important">

      <div class="">
        <h5>Weblog</h5>
        <ol class="list pl0">
        <!-- Ranges through content/posts/*.md since mainSections is set to "pots" | see https://gohugo.io/functions/where/#mainsections -->
        {{ range where site.RegularPages "Type" "in" site.Params.mainSections }}
          <li class="lh-copy pv2">
            <div class="f4 gray">{{ .Date.Format "January 2, 2006" }}</div>
            <div class="f3"><a href="{{.Permalink}}">{{.Title}}</a></div>
          </li>
        {{ end }}
        </ol>
      </div>

      <div class="">
        <h5>Videos</h5>
        <iframe width="100%" sandbox="allow-same-origin allow-scripts" src="https://conf.tube/videos/embed/2b9a985b-ccdd-49ce-a81b-ed00d2b47c85" frameborder="0" allowfullscreen></iframe>
        <iframe width="100%" sandbox="allow-same-origin allow-scripts" src="https://conf.tube/videos/embed/0b487f1f-158c-475c-a9e5-4272128be139" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>

    <div class="mb5" style="text-align: center;">
      <a class="ba black-70 no-underline no-shadow grow br2 b inline-flex items-center mr3 mb3 pv2 ph3" href="{{ .Permalink }}index.xml" title="Latest editor's draft of the specification">
        <div class="dib w2 pt2">
          <svg enable-background="new 0 0 24 24" fill="currentColor" height="24px" version="1.1" viewBox="0 0 56.693 56.693" width="24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M3.428,31.085c6.19,0,12.009,2.418,16.382,6.816c4.381,4.398,6.793,10.256,6.793,16.492h9.539  c0-18.113-14.676-32.848-32.714-32.848V31.085z M3.443,14.174c22.061,0,40.01,18.047,40.01,40.231h9.539  c0-27.445-22.229-49.77-49.549-49.77V14.174z M16.634,47.741c0,3.648-2.959,6.607-6.607,6.607S3.42,51.39,3.42,47.741  c0-3.65,2.958-6.607,6.606-6.607S16.634,44.091,16.634,47.741z"/></svg>
        </div>
        <span class="pl3">
          RSS feed
        </span>
      </a>
    </div>
  </div>
{{ end }}