<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  {{ partial "header.html" . }}

  <body>
    {{ partial "navigation.html" . }}

    <div class="site-wrapper">

      {{ if .IsHome }}
      <div class="main-header-content inner pt6 pb5 ph3 ph5-ns">
        <div class="logo-image flex justify-center">
          <img src='data:image/svg+xml;base64,{{ readFile "themes/activitypub/static/images/ActivityPub-logo.svg" | base64Encode }}' alt="{{ .Site.Title }}"/>
          <div class="logo-subtitle dn dib-l">Rocks!</div>
        </div>
        <p>{{ .Site.Params.description }}</p>
      </div>
      {{ end }}

      <main id="content" role="main">
        {{ block "main" . }}
        {{ end }}
      </main>

      {{ partial "footer.html" . }}

    </div> <!-- / site-wrapper -->

  </body>
</html>