{{ define "main" }}
  <div id="about" class="content mw9 pa5 pa6-ns center"> <!-- first bloc: description -->
    To submit an implementation report, report it to the 
    <a href="https://github.com/w3c/activitypub/issues">ActivityPub issue tracker</a>. 
    (Or, file a PR directly to this site's repository.)
  </div>

  <div class="content mw9 pa3 pa4-ns center">
    <h3 class="tc">Implementation reports</h3>
  </div>

  <div class="w-90 center pb5"> <!-- second bloc: table -->
    {{ $reports := slice }}
    {{ range $key, $value := .Site.Data.reports }}
      {{ $reports = $reports | append $value }}
    {{ end }}

    <!-- {{ printf "%#v" $reports }} -->

    <div class="impl-reports-box" style="overflow-x: auto;">
      <table style="font-size: 10pt; text-align: center;" class="impl-reports">
        <tbody>
          <tr class="impl-reports-header">
            <td style="border-bottom: 2px solid black; border-right: 2px solid black;">
              <i>(hover for description)</i>
            </td>
            <td style="border-bottom: 2px solid black; border-right: 2px solid grey;">
              <b># yes</b>
            </td>
            {{ range $report := $reports }}
              <th style="border-bottom: 2px solid black;" class="report-name">{{ index $report "project-name" }}</th>
            {{ end }}
          </tr>

          {{ $categories := (index .Site.Data "report-categories" )}}

          <tr>
            <th style="border-right: 2px solid black;" title="Implements the Client end of the ActivityPub Client-to-Server protocol">Client-to-Server Client</th>
            <td class="result-cell result-yes" style="border-right: 2px solid grey;">{{ len (where $reports "testing-client" true) }}/{{ len $reports }}</td>
            {{ range $report := $reports }}
              <td class='result-cell result-{{ index $report "testing-client" }}'>{{ cond (index $report "testing-client") "Yes" "No" }}</td>
            {{ end }}
          </tr>
          <tr>
            <th style="border-right: 2px solid black;" title="Implements the Server end of the ActivityPub Client-to-Server protocol">Client-to-Server Server</th>
            <td class="result-cell result-yes" style="border-right: 2px solid grey;">{{ len (where $reports "testing-c2s-server" true) }}/{{ len $reports }}</td>
            {{ range $report := $reports }}
              <td class='result-cell result-{{ index $report "testing-client" }}'>{{ cond (index $report "testing-c2s-server") "Yes" "No" }}</td>
            {{ end }}
          </tr>
          <tr>
            <th style="border-right: 2px solid black;" title="Implements the ActivityPub Server-to-Server federation protocol">Federated (Server-to-Server) Server</th>
            <td class="result-cell result-yes" style="border-right: 2px solid grey;">{{ len (where $reports "testing-s2s-server" true) }}/{{ len $reports }}</td>
            {{ range $report := $reports }}
              <td class='result-cell result-{{ index $report "testing-client" }}'>{{ cond (index $report "testing-s2s-server") "Yes" "No" }}</td>
            {{ end }}
          </tr>

          {{ range $key, $value := $categories }}
            <tr class="test-item-row dark-row">
              <!-- table head -->
              <th title="{{ $value.title }}" class="report-test-item-name" style="text-align: left; border-right: 2px solid black;">{{ $key }}</th>
              
              <!-- table counter of valid implementations -->
              {{ $.Scratch.Set "counter" 0 }}
              {{ range $report := $reports }}
                {{ $result := (index $report.results $key).result }}
                {{ if eq $result "yes" }}
                  {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
                {{ end }}
              {{ end }}
              <td class="result-cell result-yes" style="border-right: 2px solid grey;">{{$.Scratch.Get "counter"}}/{{ len $reports }}</td>

              <!-- table values -->
              {{ range $report := $reports }}
                  {{ $result := (index $report.results $key).result }}

                  {{ if eq $result "yes" }}
                    <td class="result-cell result-true">Yes</td>
                  {{ else if eq $result "not-applicable" }}
                    {{ if (isset (index $report.results $key) "comment") }}
                      <td class="result-cell result-not-applicable" title="{{ (index $report.results $key).comment }}">N/A*</td>
                    {{ else }}
                      <td class="result-cell result-not-applicable">N/A</td>
                    {{ end }}
                  {{ else if eq $result "inconclusive" }}
                    {{ if (isset (index $report.results $key) "comment") }}
                      <td class="result-cell result-inconclusive" title="{{ (index $report.results $key).comment }}">Inconclusive*</td>
                    {{ else }}
                      <td class="result-cell result-inconclusive">Inconclusive</td>
                    {{ end }}
                  {{ else if eq $result "result-missing" }}
                    <td class="result-cell result-">Missing</td>
                  {{ else }}
                    <td class="result-cell result-false">No</td>
                  {{ end }}

              {{ end }}
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div><!-- end of table -->

  </div>

  <div class="content mw9 pa3 pa5-ns center"> <!-- third bloc: project descriptions -->

    {{ range $report := $reports }}
      <table class="impl-info striped--near-white" style="font-size: 12pt;">
        <tbody>
          <tr class="impl-reports-header">
            <th colspan="2" style="border-bottom: 2px solid #6d6d6d;">{{ index $report "project-name" }} </th>
          </tr>
          <tr class="impl-report-info">
            <th>Homepage</th>
            <td>
              <a href="{{ $report.homepage }}">{{ $report.homepage }}</a>
            </td>
          </tr>
          <tr class="impl-report-info">
            <th>Source Repo</th>
            <td>
              <a href="{{ $report.repo }}">{{ $report.repo }}</a>
            </td>
          </tr>
          <tr class="impl-report-info">
            <th>Developers</th>
            <td>
              {{ $report.developers | markdownify }}
            </td>
          </tr>
          <tr class="impl-report-info">
            <th>Notes / About</th>
            <td>
              {{ $report.notes | markdownify }}
            </td>
          </tr>
          <tr class="impl-report-info">
            <th>Publicly Accessible?</th>
            <td>{{ if (index $report "publicly-accessible") }} Yes {{ else }} No {{ end }}</td>
          </tr>
          <tr class="impl-report-info">
            <th>Free/Libre/Open Source?</th>
            <td>{{ if $report.foss }} Yes {{ else }} No {{ end }}</td>
          </tr>
          <tr class="impl-report-info">
            <th>License</th>
            <td>{{ $report.license }}</td>
          </tr>
          <tr class="impl-report-info">
            <th>Programming Language</th>
            <td>{{ index $report "programming-language" }}</td>
          </tr>
        </tbody>
      </table>
    {{ end }}

  </div>
{{ end }}