{{ define "main" }}
  {{ $baseurl := default "/" .Site.BaseURL }}
  <article class="pv5 mw8 center post {{ .Section }}">

    <header class="post-header">
        <h1 class="post-title">{{.Title}}</h1>
        <section class="post-meta pv4">
        {{ if eq .Section "post"}}
          <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "January 2, 2006" }}
          </time>
          {{ if isset .Site.Params "author" }}
            {{ with (index .Site.Data.authors .Site.Params.author) }}
              <span>by {{ .name }}</span>
            {{end}}
          {{end}}
        {{end}}
        {{ range .Params.tags }}
          <span class="post-tag small"><a href="{{$baseurl}}tags/{{ . | urlize }}/">#{{ . }}</a></span>
        {{ end }}
        </section>
    </header>

    <section class="post-content">
      {{ .Content }}
    </section>
  </article>

{{ end }}