/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*

    1.  Icons
    2.  General
    3.  Utilities
    4.  General
    5.  Single Post
    6.  Tag Archive
    7.  Third Party Elements
    8.  Pagination
    9.  Footer
    10. Media Queries (Tablet)
    11. Media Queries (Mobile)
    12. Animations

*/

/* ==========================================================================
   1. Icons - Sets up the icon font and respective classes
   ========================================================================== */

/* Nothing there */

/* ==========================================================================
   2. General - Setting up some base styles
   ========================================================================== */

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  letter-spacing: 0.01rem;
  font-size: 1.8rem;
  line-height: 1.75em;
  color: #3a4145;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  text-rendering: geometricPrecision;
  margin: 0;
}

::selection {
  background: #ffb0fe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-feature-settings: "dlig" 1, "liga" 1, "lnum" 1, "kern" 1;
  -moz-font-feature-settings: "dlig" 1, "liga" 1, "lnum" 1, "kern" 1;
  -o-font-feature-settings: "dlig" 1, "liga" 1, "lnum" 1, "kern" 1;
  color: #2e2e2e;
  line-height: 1.15em;
  margin: 0 0 0.4em 0;

  text-rendering: geometricPrecision;
}

h1 {
  font-size: 5rem;
  letter-spacing: -2px;
  text-indent: -3px;
}

h2 {
  font-size: 3.6rem;
  letter-spacing: -1px;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 2rem;
}

a {
  color: #F1007E;
  text-decoration: none;
  transition: text-shadow .5s;
}

a:not(.no-shadow):hover {
  text-shadow: 0px 0px 2px #ffb0fe;
}

p,
ul,
ol,
dl {
  -webkit-font-feature-settings: "liga" 1, "onum" 1, "kern" 1;
  -moz-font-feature-settings: "liga" 1, "onum" 1, "kern" 1;
  -o-font-feature-settings: "liga" 1, "onum" 1, "kern" 1;
  margin: 0 0 1.75em 0;
  text-rendering: geometricPrecision;
}

ol,
ul {
  padding-left: 3rem;
}

ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0 0 0.4em 0;
  padding-left: 2em;
}

dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  margin-bottom: 1em;
}

dl dd {
  margin-left: 200px;
  margin-bottom: 1em;
}

li {
  margin: 0.4em 0;
}

li li {
  margin: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #efefef 1px solid;
  margin: 3.2em 0;
  padding: 0;
}

blockquote {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.7em 1.7em 1.75em 0em;
  padding: 0 0 0 1.75em;
  border-left: #4a4a4a 0.2em solid;
}

blockquote p {
  margin: 0.8em 0;
  font-style: italic;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  color: #ccc;
}

blockquote small:before {
  content: "\2014 \00A0";
}

blockquote cite {
  font-weight: 700;
}

blockquote cite a {
  font-weight: normal;
}

mark {
  background-color: #ffc336;
}

code,
tt {
  padding: 1px 3px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.85em;
  white-space: pre-wrap;
  border: #e3edf3 1px solid;
  background: #f7fafb;
  border-radius: 2px;
}

pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 1.75em 0;
  border: #e3edf3 1px solid;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  background: #f7fafb;
  border-radius: 3px;
}

pre code,
pre tt {
  font-size: inherit;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}

kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: 0.9em;
  font-weight: 700;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}

table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.75em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: #efefef 1px solid;
}

table th {
  color: #000;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: #efefef 2px solid;
}

table table table {
  background-color: #fff;
}

table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
  background: transparent;
}

iframe,
.fluid-width-video-wrapper {
  display: block;
  margin: 1.75em 0;
}

/* When a video is inside the fitvids wrapper, drop the
margin on the iframe, cause it breaks stuff. */
.fluid-width-video-wrapper iframe {
  margin: 0;
}

/* ==========================================================================
   3. Utilities - These things get used a lot
   ========================================================================== */

/* Clears shit */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

/* Hides shit */
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}

/* Creates a responsive wrapper that makes our content scale nicely */
.inner {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 0 auto;
}

/* Centres vertically yo. (IE8+) */
.vertical {
  display: table-cell;
  vertical-align: middle;
}

/* Wraps the main content & footer */
.site-wrapper {
  /*position: relative;*/
  z-index: 10;
  min-height: 100%;
  background-color: #fcf9ff;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}

body.nav-opened .site-wrapper {
  overflow-x: hidden;
  -webkit-transform: translate3D(-240px, 0, 0);
  -ms-transform: translate3D(-240px, 0, 0);
  transform: translate3D(-240px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
}

/* ==========================================================================
   4. General - The main styles for the the theme
   ========================================================================== */
.main-nav {
  position: relative;
  padding: 35px 40px;
  margin: 0 0 100px 0;
}

.main-nav a {
  text-decoration: none;
}

/* Navigation */
body.nav-opened .nav-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 240px;
  bottom: 0;
  z-index: 200;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 240px;
  opacity: 0;
  background: #111;
  margin-bottom: 0;
  text-align: left;
  overflow-y: auto;
  -webkit-transition: -webkit-transform 0.5s ease, opacity 0.3s ease 0.7s;
  transition: transform 0.5s ease, opacity 0.3s ease 0.7s;
  font-weight: 700;
  font-size: 11px;
  color: #909090;
}

body.nav-closed .nav {
  -webkit-transform: translate3D(97px, 0, 0);
  -ms-transform: translate3D(97px, 0, 0);
  transform: translate3D(97px, 0, 0);
}

body.nav-opened .nav {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s ease, opacity 0s ease 0s;
  transition: transform 0.3s ease, opacity 0s ease 0s;
  -webkit-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

.nav-title {
  position: absolute;
  top: 45px;
  left: 30px;
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
}

.nav-close {
  position: absolute;
  top: 38px;
  right: 25px;
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 10px;
}

.nav-close:focus {
  outline: 0;
}

.nav-close:before,
.nav-close:after {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 1px;
  background: rgb(150, 150, 150);
  top: 15px;
  -webkit-transition: background 0.15s ease;
  transition: background 0.15s ease;
}

.nav-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-close:hover:before,
.nav-close:hover:after {
  background: rgb(255, 255, 255);
}

.nav ul {
  padding: 90px 9% 5%;
  list-style: none;
  counter-reset: item;
}

.nav li:before {
  display: block;
  float: right;
  padding-right: 4%;
  padding-left: 5px;
  text-align: right;
  font-size: 1.2rem;
  vertical-align: bottom;
  color: #b8b8b8;
  content: counter(item, lower-roman);
  counter-increment: item;
}
.nav li {
  margin: 0;
}
.nav li a {
  text-decoration: none;
  line-height: 1.4;
  font-size: 1.4rem;
  display: block;
  padding: 0.6rem 4%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.nav li a:after {
  display: inline-block;
  content: " .......................................................";
  color: rgba(255, 255, 255, 0.2);
  margin-left: 5px;
}
.nav .nav-current:before {
  color: #fff;
}
.nav .nav-current a:after {
  content: " ";
  border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
  width: 100%;
  height: 1px;
}

.nav a:link,
.nav a:visited {
  color: #b8b8b8;
}

.nav li.nav-current a,
.nav a:hover,
.nav a:active,
.nav a:focus {
  color: #fff;
}

/* Every post, on every page, gets this style on its <article> tag */
.post {
  position: relative;
  width: 80%;
  max-width: 710px;
  /*margin: 4rem auto;*/
  padding-bottom: 4rem;
  border-bottom: #ebf2f6 1px solid;
  word-wrap: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  min-height: 100vh;
}

/* Add a little circle in the middle of the border-bottom on our .post
just for the lolz and stylepoints. */
.post:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #e7eef2 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #fff;
  border-radius: 100%;
  box-shadow: #fff 0 0 0 5px;
}

body:not(.post-template) .post-title {
  font-size: 3.6rem;
}

.post-title a {
  text-decoration: none;
}

.post-excerpt p {
  margin: 1em 0 1em 0;
  font-size: 0.9em;
  line-height: 1.7em;
}

.read-more {
  text-decoration: none;
}

.post-meta {
  display: block;
  margin: 1.75rem 0 0 0;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #9eabb3;
}

.author-thumb {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 9px;
  border-radius: 100%;
}

.post-meta a {
  color: #9eabb3;
  text-decoration: none;
}

.post-meta a:hover {
  text-decoration: underline;
}

.user-meta {
  position: relative;
  padding: 0.3rem 40px 0 100px;
  min-height: 77px;
}

.post-date {
  display: inline-block;
  margin-left: 8px;
  padding-left: 12px;
  border-left: #d5dbde 1px solid;
  text-transform: uppercase;
  font-size: 1.3rem;
  white-space: nowrap;
}

.user-image {
  position: absolute;
  top: 0;
  left: 0;
}

.user-name {
  display: block;
  font-weight: 700;
}

.user-bio {
  display: block;
  max-width: 440px;
  font-size: 1.4rem;
  line-height: 1.5em;
}

.publish-meta {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4.3rem 0 4rem 0;
  text-align: right;
}

.publish-heading {
  display: block;
  font-weight: 700;
}

.publish-date {
  display: block;
  font-size: 1.4rem;
  line-height: 1.5em;
}

/* ==========================================================================
   5. Single Post - When you click on an individual post
   ========================================================================== */

.post-template .post-header {
  margin-bottom: 3.4rem;
}

.post-template .post-title {
  margin-bottom: 0;
}

.post-template .post-meta {
  margin: 0;
}

.post-template .post-date {
  padding: 0;
  margin: 0;
  border: none;
}

/* Stop elements, such as img wider than the post content, from
   creating horizontal scroll - slight hack due to imperfections
   with browser width % calculations and rounding */
.post-template .content {
  overflow: hidden;
}

/* Tweak the .post wrapper style */
.post-template .post {
  margin-top: 0;
  border-bottom: none;
  padding-bottom: 0;
}

/* Kill that stylish little circle that was on the border, too */
.post-template .post:after {
  display: none;
}

/* Keep images centered, and allow images wider than the main
   text column to break out. */
.post-content img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0.6em 0;
  /* Centers an image by (1) pushing its left edge to the
       center of its container and (2) shifting the entire image
       in the opposite direction by half its own width.
       Works for images that are larger than their containers. */
  position: relative;
}

/* The author credit area after the post */
.post-footer {
  position: relative;
  margin: 6rem 0 0 0;
  padding: 6rem 0 0 0;
  border-top: #ebf2f6 1px solid;
}

.post-footer h4 {
  font-size: 1.8rem;
  margin: 0;
}

.post-footer p {
  margin: 1rem 0;
  font-size: 1.4rem;
  line-height: 1.75em;
}

/* list of author links - location / url */
.author-meta {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1.4rem;
  line-height: 1;
  font-style: italic;
  color: #9eabb3;
}

.author-meta a {
  color: #9eabb3;
}
.author-meta a:hover {
  color: #111;
}

/* Create some space to the right for the share links */
.post-footer .author {
  margin-right: 180px;
}

.post-footer h4 a {
  color: #2e2e2e;
  text-decoration: none;
}

.post-footer h4 a:hover {
  text-decoration: underline;
}

/* Drop the share links in the space to the right.
   Doing it like this means it's easier for the author bio
   to be flexible at smaller screen sizes while the share
   links remain at a fixed width the whole time */
.post-footer .share {
  position: absolute;
  top: 6rem;
  right: 0;
  width: 140px;
}

.post-footer .share a {
  font-size: 1.8rem;
  display: inline-block;
  margin: 1rem 1.6rem 1.6rem 0;
  color: #bbc7cc;
  text-decoration: none;
}

.post-footer .share a:hover {
  color: #50585d;
}

/* ==========================================================================
   6. Author profile
   ========================================================================== */

.author-profile {
  padding: 0 15px 5rem 15px;
  border-bottom: #ebf2f6 1px solid;
  text-align: center;
}

/* Add a little circle in the middle of the border-bottom */
.author-profile:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #e7eef2 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #fff;
  border-radius: 100%;
  box-shadow: #fff 0 0 0 5px;
}

.author-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  padding: 6px;
  background: #fff;
  z-index: 2;
  box-shadow: #e7eef2 0 0 0 1px;
}

.author-image .img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
}

.author-profile .author-image {
  position: relative;
  left: auto;
  top: auto;
  width: 120px;
  height: 120px;
  padding: 3px;
  margin: -100px auto 0 auto;
  box-shadow: none;
}

.author-title {
  margin: 1.5rem 0 1rem;
}

.author-bio {
  font-size: 1.8rem;
  line-height: 1.5em;
  font-weight: 200;
  color: #50585d;
  letter-spacing: 0;
  text-indent: 0;
}

.author-meta {
  margin: 1.6rem 0;
}
/* Location, website, and link */
.author-profile .author-meta {
  margin: 2rem 0;
  letter-spacing: 0.01rem;
  font-size: 1.7rem;
}
.author-meta span {
  display: inline-block;
  margin: 0 2rem 1rem 0;
  word-wrap: break-word;
}
.author-meta a {
  text-decoration: none;
}

/* Turn off meta for page2+ to make room for extra
   pagination prev/next links */
.archive-template .author-profile .author-meta {
  display: none;
}

/* ==========================================================================
   8. Pagination - Tools to let you flick between pages
   ========================================================================== */

/* The main wrapper for our pagination links */
.pagination {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 4rem auto;
  font-size: 1.3rem;
  color: #9eabb3;
  text-align: center;
}

.pagination a {
  color: #9eabb3;
  transition: all 0.2s ease;
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
  position: absolute;
  display: inline-block;
  padding: 0 15px;
  border: #bfc8cd 1px solid;
  text-decoration: none;
  border-radius: 4px;
  transition: border 0.3s ease;
}

.older-posts {
  right: 0;
}

.page-number {
  display: inline-block;
  padding: 2px 0;
  min-width: 100px;
}

.newer-posts {
  left: 0;
}

.older-posts:hover,
.newer-posts:hover {
  color: #889093;
  border-color: #98a0a4;
}

.extra-pagination {
  display: none;
  border-bottom: #ebf2f6 1px solid;
}
.extra-pagination:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #e7eef2 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #fff;
  border-radius: 100%;
  box-shadow: #fff 0 0 0 5px;
}
.extra-pagination .pagination {
  width: auto;
}

/* On page2+ show extra pagination controls at the top of post list */
.archive-template .extra-pagination {
  display: block;
}

/* ==========================================================================
   9. Footer - The bottom of every page
   ========================================================================== */

.site-footer {
  position: relative;
  padding: 0.5rem 15px;
  border-top: #ebf2f6 1px solid;
  font-size: 1.2rem;
  line-height: 1.75em;
  color: #bbc7cc;
}

.site-footer a {
  color: #bbc7cc;
  text-decoration: none;
  font-weight: bold;
}

.site-footer a:hover {
  color: #50585d;
}

.poweredby {
  display: block;
  width: 45%;
  float: right;
  text-align: right;
}

.copyright {
  display: block;
  width: 45%;
  float: left;
}

.btn-bootstrap-2 {
  /* display: block; */
  /* position: absolute; */
  /* z-index: 100; */
  /* bottom: 50%; */
  /* left: 50%; */
  /* margin-left: -16px; */
  /* width: 34px; */
  /* height: 34px; */
  /* display: table-cell; */
  /* vertical-align: middle; */
  /* font-size: 44px; */
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  /* -webkit-animation: bounce 4s 2s infinite; */
  /* animation: bounce 4s 2s infinite; */
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  /* height: 38px; */
  /* padding: 0 15px; */
  border: #bfc8cd 1px solid;
  opacity: 1;
  /* color: #9EABB3; */
  /* text-align: center; */
  /* font-size: 12px; */
  text-transform: uppercase;
  line-height: 35px;
  white-space: nowrap;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.39);
  /* transition: all 0.5s ease; */
}
.btn-bootstrap-2:hover {
  color: #fff;
  background-color: #000;
  opacity: 0.7;
  /* color: rgba(255,255,255,0.7); */
}

/* ==========================================================================
   10. Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {
  /*section.post-excerpt {
        padding: 20px;
    }*/

  header.post-header {
    padding: 20px 20px 0 20px;
  }
  section.post-content {
    padding: 20px;
  }

  footer.post-meta {
    padding: 20px;
  }

  blockquote {
    margin-left: 0;
  }

  h2.post-title {
    padding: 20px 20px 0px 20px;
  }

  .blog-logo img {
    padding: 4px 0;
    height: 70px;
    width: 70px;
  }

  .page-title {
    font-size: 4rem;
    letter-spacing: -1px;
  }

  .page-description {
    font-size: 1.8rem;
    line-height: 1.5em;
  }

  .post {
    width: 100%;
    max-width: 100%;
    font-size: 0.95em;
  }

  body:not(.post-template) .post-title {
    font-size: 3.2rem;
  }

  hr {
    margin: 2.4em 0;
  }

  ol,
  ul {
    padding-left: 2em;
  }

  h1 {
    font-size: 4.5rem;
    text-indent: -2px;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 3.1rem;
  }

  h4 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 2.2rem;
  }

  h6 {
    font-size: 1.8rem;
  }

  .author-profile {
    padding-bottom: 4rem;
  }

  .author-profile .author-bio {
    font-size: 1.6rem;
  }

  .author-meta span {
    display: block;
    margin: 1.5rem 0;
  }
  .author-profile .author-meta span {
    font-size: 1.6rem;
  }

  article.post.post {
    background-color: #fff;
    margin: 0;
  }
}

/* ==========================================================================
   11. Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
  article.post.post {
    background-color: #fff;
    padding: 20px;
    margin: 0;
  }

  .main-nav {
    padding: 5px;
    margin-bottom: 8em;
  }

  .blog-logo {
    padding: 5px;
  }

  .blog-logo img {
    height: 70px;
    width: 70px;
  }

  .menu-button {
    padding: 0 5px;
    border-radius: 0;
    border-color: transparent;
    color: #2e2e2e;
    background: transparent;
  }
  .menu-button:hover {
    color: #2e2e2e;
    border-color: transparent;
    background: none;
  }
  body.nav-opened .menu-button {
    background: none !important;
    border: transparent !important;
  }

  .main-nav.overlay a:hover {
    color: #fff;
    border-color: transparent;
    background: transparent;
  }

  .no-cover .main-nav.overlay {
    background: none;
  }
  .no-cover .main-nav.overlay .menu-button {
    border: none;
  }

  .main-nav.overlay .menu-button {
    border-color: transparent;
  }

  .nav-title {
    top: 25px;
  }

  .nav-close {
    position: absolute;
    top: 18px;
  }

  .nav ul {
    padding: 60px 9% 5%;
  }

  .inner,
  .pagination {
    width: auto;
    margin: 2rem auto;
  }

  .post {
    width: 100%;
    max-width: 100%;
    width: auto;
    margin-top: 8rem;
    margin-bottom: 2rem;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 2rem;
    line-height: 1.65em;
  }

  .post-date {
    display: none;
  }

  .post-template .post-header {
    margin-bottom: 2rem;
  }

  .post-template .post-date {
    display: inline-block;
  }

  hr {
    margin: 1.75em 0;
  }

  p,
  ul,
  ol,
  dl {
    font-size: 0.95em;
    margin: 0 0 2.5rem 0;
  }

  .page-title {
    font-size: 3rem;
  }

  .post-excerpt p {
    font-size: 0.85em;
  }

  .page-description {
    font-size: 1.6rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 0.3em 0;
  }

  h1 {
    font-size: 2.8rem;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 2.4rem;
    letter-spacing: 0;
    margin: 1em 0 1em 0;
  }

  h3 {
    font-size: 2.1rem;
  }

  h4 {
    font-size: 1.9rem;
  }

  h5 {
    font-size: 1.8rem;
  }

  h6 {
    font-size: 1.8rem;
  }

  body:not(.post-template) .post-title {
    font-size: 2.5rem;
  }

  .post-template .post {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .post-template .site-footer {
    margin-top: 0;
  }

  .post-content img {
    padding: 0;
    width: calc(100% + 32px); /* expand with to image + margins */
    min-width: 0;
    max-width: 100%; /* fallback when calc doesn't work */
  }

  .post-meta {
    font-size: 1.3rem;
    margin-top: 1rem;
  }

  .post-footer {
    padding: 5rem 0 3rem 0;
    text-align: center;
  }

  .post-footer .author {
    margin: 0 0 2rem 0;
    padding: 0 0 1.6rem 0;
    border-bottom: #ebf2f6 1px dashed;
  }

  .post-footer .share {
    position: static;
    width: auto;
  }

  .post-footer .share a {
    margin: 1.4rem 0.8rem 0 0.8rem;
  }

  .author-meta li {
    float: none;
    margin: 0;
    line-height: 1.75em;
  }

  .author-meta li:before {
    display: none;
  }

  .older-posts,
  .newer-posts {
    position: static;
    margin: 10px 0;
  }

  .page-number {
    display: block;
  }

  .site-footer {
    margin-top: 3rem;
  }

  .author-profile {
    padding-bottom: 2rem;
  }

  .author-profile .author-image {
    margin-top: -70px;
  }

  .author-profile .author-meta span {
    font-size: 1.4rem;
  }
}

/* ==========================================================================
   12. Animations
   ========================================================================== */

/* Used to fade in title/desc on the home page */
@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* ---- reset ---- */

.logo-image {
  position: relative;
}
.logo-subtitle {
  height: 0px;
  position: absolute;
  right: 10rem;
  bottom: 5rem;
  font-weight: 700;
  font-size: 130%;
}

table.impl-reports {
	border-collapse: collapse;
}
td.result-false {
	font-weight: bold;
	color: #500e09;
}
td.result-true {
	font-weight: bold;
	color: #094113;
}
table.impl-reports td.result-cell:not(:last-child), table.impl-reports th.report-name:not(:last-child) {
	border-right: 1px solid #c4c4c4;
}
table.impl-reports th, table.impl-reports td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
}
.impl-reports th,
.impl-report-info th,
.impl-report-info,
.impl-reports-header th {
  color: #6d6d6d;
  line-height: 1.3;
}
.impl-reports-header th {
  text-align: center;
}
td.result-inconclusive {
	font-weight: bold;
	color: #503609;
}
tr.impl-reports-header {
	background: #f4ecf0;
}
tr.impl-report-info th {
	width: 20%;
}
tr.impl-report-info {
	text-align: left;
	vertical-align: top;
	background: #f5eff9;
}
tr.impl-report-info td, tr.impl-report-info th {
	padding: 3px;
}

li {
  display: block;
  transition-duration: 0.5s;
}
li:focus-within a {
  outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  text-align: left;
  display: none;
  position: absolute;
  background-color: white;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  line-height: 1;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

#landing-actions-height {
  height: 12rem;
}

@media only screen and (max-width: 900px) {
  #landing-actions-height {
    height: 200px;
  }
}

.newsgrid {
  max-width: 120rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap:3rem;
}